<section class="hero is-transparent">

  <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar is-primary">
            <div class="navbar-brand">
            <a class="navbar-item" routerLink="">
                <img src="../assets/logo.png" >
            </a>

            <div class="mobile-logo container has-text-centered is-hidden-desktop">
                <p class="title">
                    <img src="../../assets/logo2.png" alt="Krafted for you" width="100px">
                </p>
            </div>

            <span class="navbar-burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <a  class="navbar-item" 
                    routerLink="" 
                    routerLinkActive="active-link" 
                    [routerLinkActiveOptions]="{exact:true}">
                  Home
                </a>
                <a class="navbar-item">
                  About Us
                </a>
                <a class="navbar-item" routerLink="/contact">
                  Contact
                </a>
                <a class="navbar-item" routerLink="/wardrobe">
                  Wardrobe
                </a>
                <span class="navbar-item">
                  
                </span>
              </div>
            </div>
        </nav>
    </div>
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered is-hidden-touch">
        <p class="title mb">
                <!--<img src="../../assets/logo2.png" alt="Krafted for you" width="100px">-->
        </p>
        <p class="subtitle animate-charcter">
           
        </p>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->

    
</section>