
.hero {
    //display: unset;
    width: 100vw;
    height: 9vh;
    //object-fit: cover;
}

.hero-head {
    font-weight: bold;
}

.mobile-logo {
    //margin-top: auto;
}

.mb {
    margin-top: -5%;
    margin-left: -2%;
}


.subtitle {
    font-size: 25px;
}

