<footer class="footer">
    <div class="container content has-text-centered">
      <div class="container">
        <div class="columns is-vcentered">             
            <div class="column is-4">
                <h5 class="bold-text">Links</h5>
                <div class="list">
                    <div class="list-item">
                     <a routerLink="">Home</a>
                    </div>
                    <div class="list-item">
                      <a routerLink="/about">About</a>
                    </div>
                    <div class="list-item">
                      <a routerLink="/wardrobe">Wardrobe</a>
                    </div>
                    <div class="list-item">
                      <a routerLink="/contact">Contact</a>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <h5 class="bold-text">Our Address</h5>
                <address>
                  469/A, Jilkar Baug,<br>
                  Hare Krishna Mandir Rd,<br>
                  Model Colony, Pune, Maharashtra 411016<br>
                    <i class="fa fa-tty"></i>: +080 22203708<br>
                    <i class="fa fa-phone"></i>: +91 98900 82832 / 83109 60936<br>
                </address>
            </div>
            <div class="column is-3 align-self-center">
                <div class="text-center">
                    <a class="icon has-text-danger is-large" href="https://www.google.com/maps/place/Krafted+For+You/@18.5331513,73.8380398,15z/data=!4m2!3m1!1s0x0:0x1ea4694eea6cb3df?sa=X&ved=2ahUKEwjhxsSj_JP6AhWNR2wGHcysAjYQ_BJ6BAhVEAU" target="_blank">
                      <i class="fa fa-lg fa-brands fa-google"></i>
                    </a>
                    <a class="icon has-text-info is-large" href="https://www.instagram.com/kraftedforyou.official/" target="_blank">
                      <i class="fa fa-lg fa-instagram"></i>
                    </a>
                    <a class="icon is-large" href="mailto:kraftedforyou.official@gmail.com" target="_blank">
                      <i class="fa fa-lg fa-envelope-o"></i>
                    </a>
                </div>
            </div>
       </div>
       <div class="row justify-content-center">             
            <div class="col-auto">
                <br>
                <h6>© Copyright 2022 Krafted for you.</h6>
                <p class="animate-charcter">Made with 💕</p>
            </div>
       </div>
    </div>
    </div>
</footer>

