<!--Header-->
<app-header></app-header>
<div class="container">
    <section class="hero is-halfheight is-bold mt-3">
        <div class="hero-video">
            <video poster="" id="bgvid" playsinline autoplay [muted]="'muted'" loop>
                <source src="../../assets/vids/stone.mp4" type="video/mp4">
            </video>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="heading has-text-centered">Stone-Work Embroidery</h1>
                <p class="subtitle animate-charcter">
                
                </p>
            </div>
        </div>
    </section>
</div>


<section class="section">
    <div class="container">
        <div class="container is-transparent">
            <article class="media">
                <figure class="media-left">
                </figure>
                <div class="media-content">
                    <article class="message bkImage is-danger">
                        <div class="message-body">
                            <div class="title has-text-centered">
                                Hand embroidered khadi silk with gems and raw cut stones
                            </div>
                            <div class="txtInfo">
                                Stone-work embroidery refers to using different colored
                                stones to embellish a garment while making it heavier
                                and richer.
                                While certain attires may have both, embroidery and
                                stone-work, it is not uncommon to find attires with
                                only stone-work that creates the embroidery pattern as
                                well. These stones used are regular, semi-precious and
                                raw-cut stones.
                                At Krafted for you, our hand embroiderers skillfully set
                                these treasured stones beautifully and meticulously to
                                create an intricate and exquisite design. Our artisans
                                have created different designs on Indian made fabric –
                                Khadi, to give each attire a unique look.
                            </div>
                        </div>
                      </article>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="section is-hidden-touch">
    <div class="container box">
        <div class="columns">

            <div class="column">
                <img src="../../assets/stone/1.jpeg" alt="">
            </div>
            
            <div class="column">
                <img src="../../assets/stone/2.jpg" alt="">
            </div>

            <div class="column">
                <img src="../../assets/ajrakh/3.PNG" alt="">
            </div>

            <div class="column">
                <img src="../../assets/ajrakh/4.PNG" alt="">
            </div>
        </div>
    </div>

</section>
