<!--Header-->
<app-header></app-header>
<div class="container">
    <section class="hero is-halfheight is-bold mt-3">
        <div class="hero-video">
            <video poster="" id="bgvid" playsinline autoplay [muted]="'muted'" loop>
                <source src="../../assets/vids/madhubani.mp4" type="video/mp4">
            </video>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="heading has-text-centered">Madhubani</h1>
                <p class="subtitle animate-charcter">
                
                </p>
            </div>
        </div>
    </section>
</div>


<section class="section">
    <div class="container">
        <div class="container is-transparent">
            <article class="media">
                <figure class="media-left">
                </figure>
                <div class="media-content">
                    <article class="message bkImage is-danger">
                        <div class="message-body">
                            <div class="title has-text-centered">
                                People’s living cultural heritage
                            </div>
                            <div class="txtInfo">
                                Madhubani paintings have been practised by the
                                women of Mithila, a region in the state of Bihar,
                                through the centuries and today it is considered as
                                a living tradition of Mithila. The art not only
                                depicts the social structure but also the cultural
                                identity of the land with its depictions on themes
                                of religion, love and fertility.
                                Madhubani paintings are among the most famous
                                paintings in the world. This popular art of the
                                Mithila region expresses the creativity and
                                sensitivity of its people. Like any folk art, it also
                                shows the psychology of the society to which it
                                belongs; it reflects the morals, values and customs
                                of the region in a very interesting way. This ageold
                                art is achieved using fingers, twigs, brushes,
                                nib -pens, and matchsticks, using natural dyes
                                and pigments, and is characterized by eyecatching
                                geometrical patterns. These paintings are
                                predominantly made by the women of the Mithila
                                region and thus it signifies a great deal in a maledominated
                                society.
                            </div>
                        </div>
                      </article>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="section">
    <div class="container box">
        <div class="columns is-vcentered">

            <div class="column">
                <img src="../../assets/madhubani/1.jpeg" alt="">
            </div>
            
            <div class="column">
                <img src="../../assets/ajrakh/2.PNG" alt="">
            </div>

            <div class="column">
                <img src="../../assets/ajrakh/3.PNG" alt="">
            </div>

            <div class="column">
                <img src="../../assets/ajrakh/4.PNG" alt="">
            </div>
        </div>
    </div>

</section>
