<!--Header-->
<app-header></app-header>
<div class="container">
    <section class="hero is-halfheight is-bold mt-3">
        <div class="hero-video">
            <video poster="" id="bgvid" playsinline autoplay [muted]="'muted'" loop>
                <source src="../../assets/vids/ajrakh.mp4" type="video/mp4">
            </video>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="heading has-text-centered">Khadi</h1>
                <p class="subtitle animate-charcter">
                
                </p>
            </div>
        </div>
    </section>
</div>


<section class="section">
    <div class="container">
        <div class="container is-transparent">
            <article class="media">
                <figure class="media-left">
                </figure>
                <div class="media-content">
                    <article class="message bkImage is-danger">
                        <div class="message-body">
                            <div class="title has-text-centered">
                                The Story Behind it all
                            </div>
                            <div class="txtInfo">
                                    The art of Ajrakh printing has been around since
                                the 15th century. The craft of Ajrakh hand-block
                                printing and natural dyeing, is more than 4000
                                years old and is practiced by local communities of
                                Kutch and Sindh…
                                These textiles are distinguished by jewel-like
                                colors with geometric, floral and architectural
                                patterns. The cloth is made in a 16-step process
                                and requires a high level of skill and
                                concentration.
                                From an early age, people in these local
                                communities learn and enjoy the process of
                                Ajrakh art while placing importance in engaging
                                with the craft and with the person/designer,
                                rather than on mere end transactional value. For
                                them, Ajrakh is a way of life.
                            </div>

                            <div class="title has-text-centered">
                                Sustainable. Natural. Eco-friendly.
                            </div>
                            <div class="txtInfo">
                                Ajrakh is a form of traditional hand-block printing and
                                resist dyeing using exclusively natural dyes and natural
                                mordants. The intricate patterns of indigenous motifs
                                captured on fabric make this craft admirable. The process is
                                extremely laborious and complex, and practised by master
                                artisans of Kutch.
                                Every Ajrakh textile is carefully crafted, involving several
                                steps by hand in its making. Each colour is extracted from
                                nature. Blue is derived from Indigo. Red from madder.
                                Dark greens and yellows from pomegranate skins and
                                turmeric. Browns from Rhubab root. Purple from logwood.
                                Black from scrap iron.
                                And many more colours of nature.
                                Patience is the message scrawled on each Ajrakh textile.
                                Characterized by its lightweight and slightly shiny
                                appearance, it is a fixture of bridal, evening wear and even
                                daily wear. The softness & lightness of the fabric soothes
                                you, while balancing the intricate Ajrakh motifs to give you
                                a rich and elegant look.
                            </div>
                        </div>
                      </article>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="section">
    <div class="container box">
        <div class="columns">

            <div class="column">
                <img src="../../assets/ajrakh/1.PNG" alt="">
            </div>
            
            <div class="column">
                <img src="../../assets/ajrakh/2.PNG" alt="">
            </div>

            <div class="column">
                <img src="../../assets/ajrakh/3.PNG" alt="">
            </div>

            <div class="column">
                <img src="../../assets/ajrakh/4.PNG" alt="">
            </div>
        </div>
    </div>

</section>
