// NEON EFFECT

.columns.is-vcentered {
    display: flex;
    flex-wrap: wrap;
    align-content: center; /* used this for multiple child */
    align-items: center; /* if an only child */
  }

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');


.home {
    margin-top: auto;
    color: white;
    z-index: 2;
}

.gradient-color {
    background: linear-gradient(#ff54a2, #ff575a);
}

.hero-body {
    
}

//@media screen and (max-width: 1024px) {
//    .concept {
//        margin-top: 70px;
//    }
//}


.box {
    background-color: rgba(255, 255, 255, 0.7);
}

.concept 
{
    margin-top: 10px;
}

h1 {
    color: rgb(255, 188, 188);
}

.title {
    z-index: 5;
    color: #FBF2E9;
    text-shadow: .5px .5px black;
}

.title.concept {
    font-family: 'Cormorant SC', serif;
}

.subtitle.concept {
    font-family: 'Square Peg', cursive;
    font-size: 30px;
    color: white;
}

.container {

}

// Header


.hero-video {
    display: unset;
    width: 100vw;
    height: 70vh;
    object-fit: cover;
}

.hero-head {
    font-weight: bold;
}

.mobile-logo {
    margin-top: auto;
}


.subtitle {
    font-size: 25px;
}


